<div>
  <h1 style="text-align: center;">
    Bootcamp Enrollment Form
  </h1>

  {{ userForm.value | json }}
  <hr />
  {{ userModel | json }}

  <form #userForm="ngForm">
    <div>
      <label>Name</label>
      <input type="text" name="userName" [(ngModel)]="userModel.name">
    </div>

    <!--[ngModel]=Property data binding ,One way binding,
           data flow from class to view and not view to class -->
    <!-- [(ngngModel)]= 2 way binding, data flows both direction-->


    <div>
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="userModel.email">
    </div>

    <div>
      <label>Phone</label>
      <input type="tel" name="phone" [(ngModel)]="userModel.phone">
    </div>

    <div>
      <select name="topic" [(ngModel)]="userModel.topic">
        <option value="">I am intrested in </option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div>

    <div>
      <label>Time Preference</label>
      <div>
        <input type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label> Morning ( 9AM - 12PM )</label>
      </div>
      <div>
        <input type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label> Evening ( 5PM - 8PM )</label>
      </div>
    </div>

    <div>
      <input type="checkbox" name="Subscribe" [(ngModel)]="userModel.subscribe">
      <label> Send me promotional offer </label>
    </div>

    <button> Submit </button>

  </form>
</div>