<div>
  <h1 style="text-align: center;">
    Bootcamp Enrollment Form
  </h1>

  <form #userForm="ngForm"> <!--#templete reference variable -->
    <div>
      <label>Name</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
       name="userName" [(ngModel)]="userModel.name" class="form-control">
      <small class="text-danger" [class.hidden]="name.valid || name.untouched"> **Name is required </small>
    </div>

    <div>
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="userModel.email">
    </div>

    <div>
      <label>Phone</label>
      <input type="tel"  name="phone" #phone="ngModel" pattern="^\d{10}$" required
        [class.is-invalid]="phone.invalid && phone.touched" [(ngModel)]="userModel.phone">
      <!-- <small class="text-danger" [class.hidden]="phone.valid || phone.untouched">Phone number is required and must be 10 digits</small>  --> 
      <!--Validation with ngIf directive along with errors property of ngModel -->
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
         <small class="text-danger" *ngIf="phone.errors['required']">Phone number is required.</small>
         <small class="text-danger" *ngIf="phone.errors['pattern']">Phone number must be ten digits.</small>
        </div>

    </div>

    <div>
      <select name="topic" [(ngModel)]="userModel.topic">
        <option value="">I am intrested in </option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div>

    <div>
      <label>Time Preference</label>
      <div>
        <input type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label> Morning ( 9AM - 12PM )</label>
      </div>
      <div>
        <input type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label> Evening ( 5PM - 8PM )</label>
      </div>
    </div>

    <div>
      <input type="checkbox" name="Subscribe" [(ngModel)]="userModel.subscribe">
      <label> Send me promotional offer </label>
    </div>

    <button> Submit </button>

  </form>
</div>