/* You can add global styles to this file, and also import other style files */
.is-invalid{
    border-color: red;
}
.text-danger{
    color: red ;
}
.hidden{
    visibility: hidden;
}
.alert-danger{
    text-align: center;
    color: red;
    background-color: moccasin;
}